* {
  margin: 0;
  padding: 0;
}

.logo {
  font-style: italic;
  color: #555555;
  animation: slide-xdown .5s ease;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 15px;
  font-family: 'fgreg', sans-serif;
}

.header-menu {
  list-style: none;
  display: flex;
  color: #555555;
  gap: 2rem;
}

.header-menu .h{
  animation: slide-xdown .3s ease;
}

.header-menu .a{
  animation: slide-xdown .4s ease;
}

.header-menu .w{
  animation: slide-xdown .5s ease;
}

.header-menu .c{
  animation: slide-xdown .6s ease;
}


.header-menu>li:hover{
  cursor: pointer;
  color: red;
}

@media screen and (max-width: 540px) {
    .header {
      align-items: center;
      position: absolute;
      justify-content: space-between;
      gap: 15rem;
    }

    .logo {
      margin-bottom: 9.5rem;
    }

    .header-menu {
      flex-direction: column;
    }
}
