* {
  margin: 0;
  padding: 0;
}

.logo {
  font-style: italic;
  color: #555555;
  animation: slide-xdown .5s ease;
}



.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 15px;
  font-family: 'fgreg', sans-serif;
}

.bars {
  position: relative;
  bottom: 4.5rem;
  left: 2rem;
}

.header-menu {
  list-style: none;
  display: flex;
  color: #555555;
  padding-top: .4rem;
  gap: 2rem;
}

.header-menu>li {
  transition: .1s ease-in-out;
}

.header-menu .h{
  animation: slide-xdown .3s ease;
}

.header-menu .a{
  animation: slide-xdown .4s ease;
}

.header-menu .w{
  animation: slide-xdown .5s ease;
}

.header-menu .c{
  animation: slide-xdown .6s ease;
}


.header-menu>li:hover{
  cursor: pointer;
  color: #181818;
}

@media screen and (max-width: 540px) {
    .header {
      align-items: center;
      position: absolute;
      justify-content: space-between;
      gap: 15rem;
      z-index: 999;
      position: fixed;
    }

    .logo {
      margin-bottom: 9.5rem;
    }

    .header-menu {
      position: absolute;
      flex-direction: column;
      background-color: #EEF2E6;
      left: 16rem;
      border-radius: 20px;
      padding: 1rem;
    }

    .bars {
      width: 1rem;
      height: 1rem;
    }
}

@media screen and (max-width: 360px) {
  .header {
    gap: 11rem;
  }

  .logo {
    margin-bottom: 8.5rem;
  }

  .bars,  {
    width: 1rem;
    height: 1rem;
  }

  .header-menu {
    position: absolute;
    left: 13rem;
    top: -0.5rem;
  }
}

@media screen and (max-width: 393px) {
  .header-menu {
    left: 15rem;
  }

  .bars {
    position: relative;
    left: 10px;
  }
}

@media screen and (max-width: 360px) {
  .header-menu {
    left: 13rem;
  }

  .bars {
    position: relative;
    left: 50px;
  }
}
