@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

.about {
  font-size: 90px;
  font-family: 'fgreg', sans-serif;
  text-transform: uppercase;
  padding-left: 2rem;
  margin-bottom: 4rem;
  line-height: 90%;
  padding-top: 7rem;
  color: #555555;
}

.sub-about {
  font-size: 14px;
  line-height: 100%;
}

@keyframes slide-xdown {
  from {
    transform: translateY(125%);
    opacity: 0;
  },

  to {
    transform: translateY(0%);
    opacity: 0;
  }
}

@media screen and (max-width: 540px) {
  .about {
    font-size: 48px;
    padding-right: 2rem;
  }
}

@font-face {
  font-family: fgreg;
  src: url('../../fonts/foundergroteskmedium.otf')
}
