::-webkit-scrollbar {
  overflow: hidden;
}

body {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEF2E6;
}

code {
  
}


